<% layout("layouts/boilerplate") -%>
<body >
    <h3>All listings</h3>
    <form method="Get" action="/listings/new">
        <button> Create New Listing</button> 
    </form>
    <br>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(let list of allListings) {%>
        <a href="/listings/<%=list._id%>" class="list-link">
            <div class="card col">
        <img src="<%=list.image %>" class="card-img-top" style="height: 18rem;" />
         <div class="card-img-overlay"> abcd</div>
            <div class="card-body">
                <p class="card-text">
                <b> <%=list.title %></b> <br>
                <%=list.description %> <br>
                &#8377; <%=list.price%> /night <br>
                <%=list.location %> <br>
                <%=list.country %> <br>
            </div>
    </div>
        </a>
       <% } %> 
    </div>
</body>

